/* --------- Prefix --------- */
$css-prefix: lw;

/* --------- 宽度 --------- */
$min-width: 1200px;
$width: 1200px;
$width-content: 1080;

/* --------- iconfont  --------- */
$iconfont-inlay: '';
$iconfont-path: './fonts';
$iconfont-version: '0.1.1';
$base-zindex: 1;

/* --------- 颜色 --------- */


/* --------- 字体 --------- */
$font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif !important;
$font-size-large: 18px;
$font-size-middle: 16px;
$font-size-small: 14px;
